@import url('https://fonts.cdnfonts.com/css/tahoma');
@import url('https://fonts.cdnfonts.com/css/verdana');

* {
  --colour-white: #fffffc;
  --colour-white-yellow: #feffeb;
  --colour-white-dark: #f5f5f5;
  --colour-black-dark: #0a0a0a;
  --colour-black-light: #141414;
  --colour-black-light-2: #242424;

  --pastel-colour-pink: #ffc6ff;
  --pastel-colour-purple: #bdb2ff;
  --pastel-colour-blue: #a0c4ff;
  --pastel-colour-teal: #9bf6ff;
  --pastel-colour-green: #caffbf;
  --pastel-colour-yellow: #fdffb6;
  --pastel-colour-yellow-2: #feffdb;
  --pastel-colour-yellow-3: #ffffef;
  --pastel-colour-orange: #ffd6a5;
  --pastel-colour-orange-2: #ffe4c3;
  --pastel-colour-orange-3: #fff2e1;
  --pastel-colour-red: #ffadad;

  --main-colour-pink: #ff5cff;
  --main-colour-purple: #401fff;
  --main-colour-blue: #0a68ff;
  --main-colour-link: #004ecc;
  --main-colour-teal: #47f0ff;
  --main-colour-green: #77ff5c;
  --main-colour-yellow: #faff5c;
  --main-colour-orange: #ffac47;
  --main-colour-red: #ff4747;

  --dark-colour-pink: #8f008f;
  --dark-colour-purple: #12007a;
  --dark-colour-blue: #00378f;
  --dark-colour-teal: #00838f;
  --dark-colour-green: #147a00;
  --dark-colour-yellow: #b1b800;
  --dark-colour-orange: #a35a00;
  --dark-colour-red: #a30000;
}

html,
body,
#root {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  font-size: 18px;
  background-color: var(--colour-white-dark);
  font-family: Tahoma, Verdana, sans-serif;
  color: var(--colour-black-light-2);
  overflow: hidden;
}

a {
  color: var(--main-colour-link);
  text-decoration: none;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

article {
  text-align: justify;
  max-width: 840px;
  display: inline-block;
  margin: 0px 20px;

  p {
    text-indent: 15px;
  }
  h1 {
    text-align: center;
    font-size: 30px;
  }
  h2 {
    text-align: center;
    font-size: 24px;
  }
}

table {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  &.width-20 {
    & td,
    th {
      width: 20px;
    }
  }
  &.width-40 {
    & td,
    th {
      width: 40px;
    }
  }
  &.outside {
    border-style: solid;
    border-width: 1px;
  }
  &.inside {
    border-collapse: collapse;
    & td,
    th {
      border-style: solid;
      border-width: 1px;
    }
  }
  &.vertical-headings-mobile {
    & th {
      @media @mobile {
        transform: rotate(-90deg);
        white-space: nowrap;
        & > * {
          vertical-align: middle;
        }
      }
    }
  }
}

td.noBorder {
  border-width: 0 !important;
}

caption {
  caption-side: bottom;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &-bottom {
    place-items: flex-end;
  }
}

