@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 799px) {
  .logo {
    text-align: center;
    width: 100%;
  }
}

.logo {
  font-size: 36px;
  padding: 8px;
  & a {
    color: unset;
    text-decoration: none !important;
  }
}

.header {
  display: flex;
  background: var(--pastel-colour-yellow);
}
