@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 799px) {
  nav {
    display: none;
  }
  .logo {
    text-align: center;
    width: 100%;
  }
  .hamburger-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 58px);
    width: 100%;
    top: 58px;
    background-color: var(--colour-white);
    & > *:not(:last-child) {
      margin: 20px;
    }
  }
  .hamburger-open {
    animation-name: slidein;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
  .hamburger-closed {
    animation-name: slideout;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
}
.hamburger {
  top: 15px;
  left: 20px;
  position: absolute;
  font-size: 20px;
}

.logo {
  font-size: 36px;
  padding: 8px;
  & a {
    color: unset;
  }
}

.header {
  display: flex;
  background: var(--pastel-colour-yellow);
}

nav {
  text-align: center;
  align-self: center;
  width: 100%;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
  & a {
    font-size: 24px;
  }
}

@keyframes slidein {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideout {
  to {
    left: -100%;
  }
  from {
    left: 0;
  }
}

