@media @desktop {
  .languageChanger {
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 51;

    & a {
      margin-right: 10px;
    }
  }
  img {
    height: 24px;
  }
}

@media @mobile {
  img {
    display: none;
  }
  & a:not(.sameLanguage) {
    text-decoration: underline;
  }
  .sameLanguage {
    color: black;
    cursor: not-allowed;
  }
}

.globe {
  top: 15px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  background: url(https://kalbynas.lt/assets/languageIcon.svg);
  height: 28px;
  width: 28px;
}

