@media @desktop {
  .hamburger {
    display: none;
  }
}

@media @mobile {
  nav {
    display: none;
  }
}
.hamburger {
  top: 15px;
  left: 20px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

nav {
  text-align: center;
  align-self: center;
  width: 225px;
  min-width: 225px;
  max-width: 225px;
  height: 100%;
  background-color: var(--pastel-colour-yellow-3);
  & > *:not(:last-child) {
    margin-right: 20px;
  }
  & a {
    font-size: 24px !important;
    color: var(--colour-black-light);
    width: calc(100% - 20px);
    display: block;
    margin: 10px;
    padding: 10px 0;
    &:hover {
      background-color: var(--pastel-colour-yellow-2);
    }
  }
}

