@use '../front/variables.scss' as variables;

html,
body,
#root {
  min-height: 100%;
  min-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  font-size: 18px;
  background-color: light-dark(var(--color-green-white), var(--color-green-white-dark));
  font-family: var(--default-font);
  color: light-dark(var(--color-green-black), var(--color-green-black-dark));
}

a {
  color: light-dark(var(--color-green-6), var(--color-green-2));
  text-decoration: none;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

.ipa {
  font-family: 'DoulosSILW', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (width > variables.$mobile-breakpoint) {
  .sr-view {
    display: none;
  }
  .desktop-view {
    display: unset;
  }
}
@media (width <= variables.$mobile-breakpoint) {
  .sr-view {
    display: unset;
  }
  .desktop-view {
    display: none;
  }
}

.center {
  text-align: center;
}

article {
  text-align: justify;
  max-width: 840px;
  display: inline-block;
  margin: 0 20px;

  p {
    text-indent: 15px;
  }

  h1 {
    text-align: center;
    font-size: 30px;
  }

  h2 {
    text-align: center;
    font-size: 24px;
  }
}

table {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;

  &.width-20 {
    & td,
    th {
      width: 20px;
    }
  }

  &.width-40 {
    & td,
    th {
      width: 40px;
    }
  }

  &.width-60 {
    & td,
    th {
      width: 60px;
    }
  }

  &.width-80 {
    & td,
    th {
      width: 80px;
    }
  }

  &.width-100 {
    & td,
    th {
      width: 100px;
    }
  }

  &.outside {
    border-style: solid;
    border-width: 1px;
  }

  &.inside {
    border-collapse: collapse;

    & td,
    th {
      border-style: solid;
      border-width: 1px;
    }
  }
}

td.noBorder {
  border-width: 0 !important;
}

td,
th {
  hyphens: manual;
}

caption {
  caption-side: bottom;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-bottom {
    place-items: flex-end;
  }
}

.ipa {
  font-family: 'DoulosSILW', sans-serif;
}

.ipa-monospace {
  font-family: 'NotoSans', monospace;
}

.default-font {
  font-family: var(--default-font), sans-serif;
}

.dashed-border {
  border: 0.5px dashed var(--color-green-black);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.triangle-pointer-left::before {
  content: '◄ ';
}
.triangle-pointer-right::after {
  content: ' ►';
}
