@use '../variables.scss';

.Common__Container {
  display: flex;
}

.Common__Main {
  width: calc(100% - 1px - variables.$nav-width);
  text-align: center;
  overflow-y: auto;

  @media (width <= variables.$mobile-breakpoint) {
    width: 100%;
  }

  @media (width > variables.$mobile-breakpoint) {
    border-top: 1px solid var(--color-green-2);
  }
}