@use '../variables.scss';

.Common__Container {
  display: flex;
}

.Common__Main {
  width: calc(100% - 1px - variables.$nav-width);
  text-align: center;
  overflow-y: auto;

  @media (max-width: variables.$mobile-breakpoint) {
    width: 100%;
  }
}