.dialog {
  max-width: none !important;
  max-height: none !important;
  width: 100vw;
  height: 100vh;
  background-color: light-dark(var(--color-green-white), var(--color-green-white-dark));
  border: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.content {
  position: relative;
  display: block;
  margin-top: 75px;
  text-align: center;
}

.close {
  position: absolute;
  display: block;
  top: 10px;
  left: calc(100vw - 40px);
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}
