@use '../variables.scss' as variables;
@use "sass:math";

.header {
  width: 100%;
  height: variables.$header-height;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-green-2);

  @media (width > variables.$mobile-breakpoint) {
    position: sticky;
    top: 0;
    border-bottom: unset;
  }
}

.languages {
  right: 0;
  margin-top: math.div(variables.$header-height, 4);
  margin-right: math.div(variables.$header-height, 3);

  &--desktop {
    & > a > img {
      height: math.div(variables.$header-height, 2);
      padding-left: math.div(variables.$header-height, 4);
    }

    @media (width <= variables.$mobile-breakpoint) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (width <= variables.$mobile-breakpoint) {
      display: block;
      position: absolute;
      right: 0;

      & > div {
        cursor: pointer;
      }
    }
  }
}

.logo {
  font-size: variables.$header-height * 0.6;
  width: variables.$nav-width;
  text-align: center;

  @media (width <= variables.$mobile-breakpoint) {
    width: 100%;
  }

  @media (width > variables.$mobile-breakpoint) {
    border-right: 1px solid var(--color-green-2);
  }
}
