@use '../variables.scss';

.nav {
  width: variables.$nav-width;
  border-right: 1px solid;
  border-color: light-dark(var(--color-green-2), var(--color-green-6));
  $height: variables.$header-height + 1px;
  height: calc(100vh - $height);
  text-align: center;

  @media (width > variables.$mobile-breakpoint) {
    top: variables.$header-height + 1px;
    position: sticky;
  }

  @media (width <= variables.$mobile-breakpoint) {
    display: none;
  }
}

.hamburger {
  display: none;

  @media (width <= variables.$mobile-breakpoint) {
    display: block;
    font-size: variables.$header-height * 0.6;
    position: absolute;
    top: 0;
    padding-left: 10px;
    cursor: pointer;
  }
}

.link {
  display: inline-block;
  height: 30px;
  width: 100%;

  &--selected {
    background-color: light-dark(var(--color-green-1), var(--color-green-7));
  }

  @media (width <= variables.$mobile-breakpoint) {
    height: 40px;
  }
}
